@model RegistrationModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center card-title mb-4 text-success"><i>Easy Inventory System</i></h3>

                <form id="registerForm" asp-area="" asp-action="Register" asp-controller="Account"
                      asp-antiforgery="true" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    <!-- First Name Input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-user"></i>
                        </span>
                        <div class="form-floating flex-grow-1">
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                            <label asp-for="FirstName">First Name <span class="text-danger">*</span></label>
                        </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <!-- Last Name Input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-user-tag"></i>
                        </span>
                        <div class="form-floating flex-grow-1">
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                            <label asp-for="LastName">Last Name <span class="text-danger">*</span></label>
                        </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <!-- User Name Input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <div class="form-floating flex-grow-1">
                            <input asp-for="UserName" class="form-control" placeholder="User Name" />
                            <label asp-for="UserName">User Name <span class="text-danger">*</span></label>
                        </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <!-- Email Input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <div class="form-floating flex-grow-1">
                            <input asp-for="Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                            <label asp-for="Email">Email <span class="text-danger">*</span></label>
                        </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <!-- Password Input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </span>
                        <input asp-for="Password" class="form-control" type="password" id="password-input" autocomplete="new-password" placeholder="Password" />
                        <button type="button" class="btn btn-outline-secondary" id="toggle-password-visibility" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                            <i class="fas fa-eye" id="password-icon"></i>
                        </button>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password Input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </span>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" id="confirm-password-input" autocomplete="new-password" placeholder="Confirm Password" />
                        <button type="button" class="btn btn-outline-secondary" id="toggle-confirm-password-visibility" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                            <i class="fas fa-eye" id="confirm-password-icon"></i>
                        </button>
            
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <!-- Submit Button -->
                    <button id="register-submit" type="submit" class="btn btn-success d-block w-100 mt-3 mb-3">
                        <i class="fas fa-check"></i> Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        // Toggle visibility for Password field
        document.getElementById('toggle-password-visibility').addEventListener('click', function () {
            const passwordInput = document.getElementById('password-input');
            const passwordIcon = document.getElementById('password-icon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordIcon.classList.remove('fa-eye');
                passwordIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                passwordIcon.classList.remove('fa-eye-slash');
                passwordIcon.classList.add('fa-eye');
            }
        });

        // Toggle visibility for Confirm Password field
        document.getElementById('toggle-confirm-password-visibility').addEventListener('click', function () {
            const confirmPasswordInput = document.getElementById('confirm-password-input');
            const confirmPasswordIcon = document.getElementById('confirm-password-icon');

            if (confirmPasswordInput.type === 'password') {
                confirmPasswordInput.type = 'text';
                confirmPasswordIcon.classList.remove('fa-eye');
                confirmPasswordIcon.classList.add('fa-eye-slash');
            } else {
                confirmPasswordInput.type = 'password';
                confirmPasswordIcon.classList.remove('fa-eye-slash');
                confirmPasswordIcon.classList.add('fa-eye');
            }
        });
    </script>
}
